.products{
    background-color: cadetblue;
    padding: 30px;
    margin: auto;
    border: 5px;
    width: 400px;
}
.Price{
    float: right ;
}

.name{
    width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
}


input[type="Name"]
input[type="Enter Your email"]
input[type="Create a New Password"]{
     width: 200;
     padding: 10px;
     margin: auto;
     border: none;
     border-radius: 1px;
     background-color: rgb(52, 187, 192);
}
     

.accounts{
    width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
}
